
header {
	
}

nav a {
    text-decoration: none;
   }
   
   nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
   }
   
   nav li {
    list-style-position: center;
    font: 24px 'Oswald', sans-serif;
    padding: 10px;
   }
   
   .top-menu li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    
   }
   
   .top-menu li.active {
    background: #b2b2b2;
    color: #fff;
   }
   
   .top-menu a {
    color: #b2b2b2;
   }
   #one {
	background-color: #ffffff;
   }
   .logo {
    position: absolute;
    left: 0%;
   }


#three {
	background-color: #ffffff;
}

#footer {
	background-color: #ffffff;
}

.a-menu {
	color: #ffffff;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
}
.a-menu:hover, .a-menu:focus {
    color: #ffffff;
    text-transform: uppercase;
    opacity: 0.7;
}




/*
#preloader {
    position:fixed;
    left:0;
    top:0;
    z-index:99999999999;
    width:100%;
    height:100%;
    overflow:visible;
    background: #fff url('../images/') no-repeat center center;
}

*/

.project{
    text-align: center;
    padding: 0%;
    background-color: #b2b2b2;
}
.name {
	font: 14px 'Oswald', sans-serif;
	color: #ff0000;
	
	
}
.p{
    background-color: #f70303;
}
.text {
	
    font: 14px 'Oswald', sans-serif;

}
.photo{
    border: 10px solid #f70303;
}

.wrapper {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #b2b2b2;
    padding-top: 20px;
    padding-bottom: 20px;
}