a{
  color: #8aff15;
}

a:hover{
  color: #f6b600;
}

.navigation_container{
    display: flex;
    list-style-type: none;
}

.navigation_link{
  font-size: 24px;
  text-decoration: none;
  color: black;
  margin-left: auto;
  margin-right: 0px;
  margin-top: 5px;
}

.logo{
  height: 50px;
}

.nav_img_link{
  margin-left: 0;
  margin-righ: auto;
}

.profile_container{
  display: flex;
}

.profile_text{
  max-width: 50%;
  margin-right: auto;
}

.profile_image{
  height: 500px;
  margin-right: 0px;
  margin-left: auto;
  border-radius: 10px;
}

.reg_img{
  width:600px;
}
