<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - Eureka</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
</head>
<body>
    <header>
        <a href=""><img src="static/images/logo.jpg" alt="Arch logo"  width = 200 px height = 50 px></a>
    </header>

    <div id="wrapper">
		<header></header>
		<nav></nav>
		<div id="heading"></div>
		<aside></aside>
		<section></section>
	</div>

    <nav class="menu">
        <ul class="top-menu">
         <li class="active">Лента</li>
         <li><a href="/projects">Проекты</a></li>
         <li><a href="/profile">Профиль</a></li>
         <li><a href="/matches">Эврики</a></li>
        </ul>
       
    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>