{%extends 'base.html'%}

{%block body%}
<!--<div id="preloader"></div>-->
<div class="main_content">
<div class="left_main_arch">
    <p><img class="arch_main_photo" src="static/images/1.png" height="400px" alt="arch photo"></p>
</div>
<div class="right_main_text">
    <p class="main_text"> привет! я - Архимед! И я твой помощник на этом сайте! Благодаря сервису "ЭВРИКА" ты сможете найти себе коллегу по работе, инвестора и даже может быть друзей. Советую как можно скорее зарегестрироваься и приближаться к успеху с другими пользователями! </p>
</div>
</div>
<div class="bg_main_eurica_text">
    <p><img class="bg_main_photo" src="static/images/bg_main.png" alt="arch photo"></p>
    </div>
    <div class="main_content">
        <div class="left_main_text">
            <p class="main_text"> гг вп </p>
        </div>
        <div class="right_main_arch">
            <p><img class="arch_main_photo" src="static/images/3.png" height="400px" alt="arch photo"></p>
        </div>
        </div>
{%endblock%}