{%extends 'base.html'%}

{%block body%}
<!--<div id="preloader"></div>-->
<div class="main_content container">
<div><img class="first_arch" src="static/images/1.png" alt="arch photo"></div>
<div class="first_main_text">
<h1 style='margin-bottom: 50px;'>Привет! Я - Архимед!</h1>
<p class="main_text">И я твой помощник на этом сайте! Благодаря сервису Эврика ты сможете найти своих единмышленников, инвесторов и даже друзей!</p>
<a href="/login" class="btn btn-success" style='margin-left:0; margin-right:auto'>Начать!</a>
</div>
</div>

<div class="eureca_container">
<h4 class='eureca_text'>Каждый раз, когда руководители проектов находят новых программистов, происходит ни что иное, как...</h4>
<img class="bg_main_photo" src="static/images/bg_main.png" alt="arch photo">
</div>

<div class="second_arch_container">

<div class="second_arch_text">
<h1 style='margin-left: 0px; margin-right:auto'>Как это работает?</h1>
<ol>
  <li>Заполните профиль и выберите специализацию</li>
  <li>Найдите интересующие проекты в "Поиске"</li>
  <li>Отправьте отклики фаундерам этих проектов!</li>
  <li>Ожидайте появления ответа на вкладке ваших Эврик!</li>
  <li>Если Эврика! случилась, фаундер получит Ваш электронный адрес и свяжется с вами</li>
</ol>
</div>
<img class="second_arch" src="static/images/3.png" alt="arch photo">
</div>
{%endblock%}
