{% extends 'base.html' %}

{% block body %}
<h1>Ваши эврики</h1>
{% if projects %}
<div class="py-3 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% for i in range(projects | length) %}
<div class="col">
<div class="card shadow-sm">
<div class="card-body">
<h3 class="card-text" style='text-align: center'>{{projects[i]}}</h3>
<div class="d-flex justify-content-center align-items-center">
<p>{{emails[i]}}</p>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
{% else %}
<p>Здесь пока что пусто</p>
{% endif %}
<h1>Кандидаты в ваши проекты</h1>
{% if user %}
<div class="py-3 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% for el in user %}
<div class="col">
<div class="card shadow-sm">
<div class="card-body">
<h3 class="card-text" style='text-align: center'>{{el[0].nick}}</h3>
<div class="d-flex justify-content-center align-items-center">
<a href='/matches/{{el[0].id}}/{{el[1].id}}/delete' class="btn btn-danger" style='margin-right: 5px'>Удалить</a>
<a href='/profile/{{el[0].id}}' class="btn btn-warning" style="margin-right:5px">Профиль</a>
    {% if not is_matched[user.index(el)] %}
<a href='/matches/{{el[0].id}}/{{el[1].id}}/eureka' class="btn btn-success" style='margin-right: 5px'>Эврика!</a>
    {% endif %}
</div>
</div>
</div>
</div>
{% endfor %}
</div>
{% else %}
<p>Здесь пока что пусто</p>
{%endif%}
{% endblock %}
