{%extends 'base.html'%}

{%block body%}
<div class="profile_container">
  <div class="profile_text">
    <a href="/profile/edit" class="btn btn-success">Редактировать</a>
    <h1 class="py-3">{{user.nick}}</h1>
    {% if user.name %}
        {% if user.second_name %}
            <h4>{{user.name}} {{user.second_name}}</h4>
        {% else %}
            <h4>{{user.name}}</h4>
        {% endif %}
    {% endif %}
    <p> {{user.level}} {{user.main_language}} Developer</p>
    {% if user.about %}
        <p style="text-align: justify">{{user.about}}</p>
    {% endif %}
  </div>
  <div>
    {%if user.img%}
    <img class='profile_image' src="{{user.img}}">
    {%endif%}
  </div>
</div>


{%endblock%}
