{%extends 'base.html'%}

{%block body%}
<div class="profile_container">
<div class="profile_text">
<h1 class="py-3">{{user.nick}}</h1>
{% if user.name %}
{% if user.second_name %}
<h4>{{user.name}} {{user.second_name}}</h4>
{% else %}
<h4>{{user.name}}</h4>
{% endif %}
{% endif %}
<p> {{user.level}} {{user.main_language}} Developer</p>
{% if user.about %}
<p style="text-align: justify">{{user.about}}</p>
{% endif %}
{% if stats %}
<p><b>Кружек кофе на работе выпито: </b>{{stats.coffee}}</p>
<p><b>Продакшнов уронено: </b>{{stats.production_lost}}</p>
<p><b>Ссор с тимлидом пережито: </b>{{stats.teamlead_shouts}}</p>
{% endif %}
</div>
<div>
{%if user.img%}
<img class='profile_image' src="{{user.img}}">
{%endif%}
</div>
</div>
{%endblock%}
