{%extends 'base.html'%}

{% block body %}
<h1 class="py-3">Ваши проекты</h1>
<a href="/projects/create" class="btn btn-success">Создать проект</a>
<div class="py-3 row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{%for el in projects %}
<div class="col">
<div class="card shadow-sm">
<div class="card-body">
<h3 class="card-text" style='text-align: center'>{{el.title}}</h3>
<div class="d-flex justify-content-center align-items-center">
<a href='/projects/{{el.id}}' class="btn btn-success" style='margin-right: 5px'>Открыть профиль</a>
<a href='/projects/{{el.id}}/edit' class="btn btn-warning">Редактировать</a>
</div>
</div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
