{% extends 'base.html' %}

{% block body %}
<div class='profile_container'>
<div style='margin-right:auto'>
<form method="post">
<h1 class="py-3">Регистрация на сайте</h1>
<input type="text" name="nick" id="nick" placeholder="Введите никнейм" class="form-control"><br>
<input type="email" name="email" id="email" placeholder="Введите e-mail" class="form-control"><br>
<input type="password" name="password" id="password" placeholder="Введите пароль" class="form-control"><br>
<label for="main_language" class='form-label'>Выберите ваш основной язык</label>
<select class="form-select" name="main_language" id="main_language">
{% for language in languages %}
<option value="{{language}}">{{language}}</option>
{% endfor %}
</select><br>
<label for="level" class='form-label'>Выберите ваш уровень</label>
<select class="form-select" name="level" id="level">
<option value="Intern">Intern</option>
<option value="Junior">Junior</option>
<option value="Middle">Middle</option>
<option value="Senior">Senior</option>
</select><br>
<button type="submit" class="btn btn-success">Зарегистрироваться</button>
</form>
</div>
<div>
<img src="/static/images/reg.png" alt="auth" class='reg_img'>
</div>
</div>
{% endblock %}
